{% extends 'base.html' %}

{% block body %}
<ul><h1> Companies <a href="{% url 'JQ:create_company' %}"> <img src="/static/css/images/plus.png" style="width:25px;height:25px;border:0;"> </a></h1><br>
    <a href="{% url 'JQ:apps' %}"> Back to Apps </a>
</ul>
    <div class="table-responsive" align="center">
        <table class="table-hover" width="75%">
            <tr>
                <th> Name </th>
                <th> Location </th>
                <th> Industry </th>
            </tr>
            {% for item in query %}
            <tr>
                <td> <a href="{% url 'JQ:edit_company' item.id %}">{{ item.name }} </td>
                <td> {{ item.location }} </td>
                <td> {{ item.industry }} </td>
                <td><a href="{% url 'JQ:delete_company' item.id %}"> <img src="/static/css/images/cancel.png" style="width:15px;height:15px;border:0;"> </a>&nbsp; &nbsp;
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
