{% extends 'base.html' %}
{% block title %}
<title>JQ - Create Company</title>
{% endblock %}
{% block body %}

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<body>
    <header class="container">
        <h3>Create New Company</h3>
        <p>If your company is already created, click <a href="{% url 'JQ:create_app' %}" style="color:red;">here</a></p>
    </header>
    <div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <form method = "post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="name">Name </label>
                    <input class="form-control" name="name" id="name" autofocus>
                </div>
                <div class="form-group">
                    <label for="size">Size</label>
                    <input class="form-control" name="size" id="size">
                </div>
                <div class="form-group">
                    <label for="location">Location</label>
                    <input class="form-control" name="location" id="location">
                </div>
                <div class="form-group">
                    <label for="ceo">CEO</label>
                    <input class="form-control" name="ceo" id="ceo">
                </div>
                <div class="form-group">
                    <label for="inductry">Industry</label>
                    <input class="form-control" name="industry" id="industry">
                </div>
                <div class="form-group">
                    <label for="other_notes">Notes</label>
                    <textarea class="form-control" name="other_notes" id="other_notes" rows="10"></textarea>
                </div>
                <div class="form-group">
                    <label for="watch_list">Watch List</label>
                    <input type="checkbox" class="form-control" name="watch_list" id="watch_list">
                </div>
                <input type="hidden" name="next" value="{{ request.META.HTTP_REFERER }}">
                <button type="submit" class="btn btn-default"> Create </button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>


{% endblock %}
