{% extends 'base.html' %}
{% block title %}
<title>JQ - App Detail</title>
{% endblock %}
{% block body %}
<div>
    <a href="{% url 'JQ:apps' %}"> Back to Applications </a>
    <div class="rightAlign">
        <p><strong>Contact <a href="{% url 'JQ:create_contact' %}"> <img src="/static/css/images/plus.png" style="width:20px;height:20px;border:0;"> </a><br></strong></p>
        {% for contact in Contact %}
            <ul id="Contact-info" class="list-unstyled">
                <li> Name: <a href="{% url 'JQ:edit_contact' contact.id %}">{{contact.name}} </a> </li>
                <li> Email: {{contact.email}} </li>
                <li> Phone: {{contact.phone}} </li>
            </ul>
        {% endfor %}
    </div>
    <div class="header-container" style="text-align:center;">
        {% for application in Application %}
            <h2> {{application.position}} @ {{application.company.name}} </h2>
            <p> <strong> Applied: </strong>{{application.applied_date}}</p>
        {% endfor %}
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-4">
        <div class="card text-center" style="width:50rem;">
          <div class="card-block">
            <h3 class="card-title">Company Info</h3>
            <p class="card-text">
                {% for application in Application %}
                    <ul id="Company-info" class="list-unstyled">
                        <li>Company: <a href="{% url 'JQ:edit_company' application.company.id %}"> {{application.company.name}} </a></li>
                        <li>Size: {{application.company.size}} </li>
                        <li>Location: {{application.company.location}} </li>
                        <li>CEO: {{application.company.ceo}} </li>
                        <li>Notes: {{application.company.other_notes}} </li>
                    </ul>
                {% endfor %}
            </p>
            <div class="card-block">
              <h3 class="card-title">Resources <a href="{% url 'JQ:create_resource' %}"> <img src="/static/css/images/plus.png" style="width:20px;height:20px;border:0;"> </a><br></h3>
              <p class="card-text">
                  {% for resource in Resources %}
                      <ul id="Resource-info" class="list-unstyled">
                          <li><a href="{% url 'JQ:edit_resource' resource.id %}">{{resource.get_resource_type_display}}</a>: <a href="{{resource.resource}}">{{resource.resource}}</a></li>
                      </ul>
                  {% endfor %}
              </p>
            </div>
          </div>
      </div>
        </div>
        <div class="col-sm-4">
          <div class="card text-center" style="width: 50rem;">
            <div class="card-block">
              <h3 class="card-title">Questions<a href="{% url 'JQ:questions' %}"> <img src="/static/css/images/plus.png" style="width:20px;height:20px;border:0;"> </a><br></h3>
              <p class="card-text">
                  {% for question in Ask %}
                      <ul id="Question-info" class="list-unstyled">
                          <form method="POST">
                              {% csrf_token %}
                              <li> {{question.question.question}}
                                  <input type="hidden" name="url" value="{{ request.get_full_path }}">
                                  <input type="image" src="/static/css/images/save-file-option.png" style="width:15px;height:15px;border:0;" alt="Submit Form" value={{question.id}} name="q_id"/>&nbsp;
                                  <a href="{% url 'JQ:delete_ask' question.id %}"> <img src="/static/css/images/cancel.png" style="width:15px;height:15px;border:0;"> </a></li>
                              <li> <textarea cols="40" rows="2" placeholder="Record Response" id="q_response" name="response">{{question.answer}}</textarea> <li>
                          </form>
                      </ul>
                  {% endfor %}
              </p>
            </div>
        </div>
          </div>
          <div class="col-sm-4">
            <div class="card text-center" style="width: 50rem;">
              <div class="card-block">
                <h3 class="card-title">Notes<a href="{% url 'JQ:create_note' %}"> <img src="/static/css/images/plus.png" style="width:20px;height:20px;border:0;"> </a><br></h3>
                <p class="card-text">
                    {% for note in Notes %}
                        <ul id="Note-info" class="list-unstyled">
                            <li>{{note.note_date}}</li>
                            <li><a href="{% url 'JQ:edit_note' note.id %}"> {{note.note}} </a></li>
                        </ul>
                    {% endfor %}
                </p>
              </div>
          </div>
            </div>
            <div class="col-sm-4">
              <div class="card text-center" style="width: 20rem;">
            </div>
              </div>

    </div>

{% endblock %}
