{% extends 'base.html' %}

{% block body %}
<h1> Questions <a href="{% url 'JQ:create_question' %}"> <img src="/static/css/images/plus.png" style="width:25px;height:25px;border:0;"> </a><br> </h1>
    <div class="table-responsive" align="center">
        <form method="POST">
            {% csrf_token %}
            <table class="table-hover" width="50%">
                <tr>
                    <th> Category </th>
                    <th> Question </th>
                    <th><input type='submit' class="btn-sm btn-success" value='Add Selected'></th>
                    <input type="hidden" name="app" value="{{ request.META.HTTP_REFERER }}">
                </tr>
                {% for item in query %}
                <tr>
                    <td> {{ item.category }} </td>
                    <td> <a href="{% url 'JQ:edit_question' item.id %}">{{ item.question }}</a> </td>
                    <td> <input type="checkbox" name="selected_q" value="{{ item.id }}"></td>
                    <td> <a href="{% url 'JQ:delete_question' item.id %}"> <img src="/static/css/images/cancel.png" style="width:15px;height:15px;border:0;"> </a> </td>
                </tr>

            {% endfor %}
            <!-- {% if form.errors %} -->
    <!-- {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %} -->
        </table>
        </form>
    </div>
{% endblock %}
