{% load static %}
<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title> HQ </title>{% endblock %}
    <script type="text/javascript" src="/static/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/hq.css' %}" rel="stylesheet" type="text/css">
    <link rel="apple-touch-icon" sizes="57x57" href="/static/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/static/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/static/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
  </head>

  {% block navbar %}
 <nav class="navbar navbar-default"> <!--  add for fixed navbar navbar-fixed-top -->
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'tracker:project' %}">HQ</a>
     </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-left">
        <li><a class="nav-item nav-link" href="{% url 'tracker:project' %}">Projects</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Tasks
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-item nav-link" href="/tracker/task/">All Tasks</a></li>
                    <li><a class="nav-item nav-link" href="/tracker/task/?search=Overdue_tasks">Overdue</a></li>
                    <li><a class="nav-item nav-link" href="/tracker/task/?search=short_list_tasks">Short List</a></li>
                    <li><a class="nav-item nav-link" href="/tracker/task/?search=Today_tasks">Today</a></li>
                    <li><a class="nav-item nav-link disabled" href="/tracker/task/?search=This_week">This Week</a></li>
                    <li><a class="nav-item nav-link disabled" href="/tracker/task/?search=This_month">This Month</a></li>
                    <li><a class="nav-item nav-link" href="/tracker/task/?search=Completed_tasks">Completed</a></li>
                    <li><a href="{% url 'tracker:export_tasks_csv' %}">Export all tasks</a></li>
                </ul>
            </li>
            <li><a class="nav-item nav-link" href="{% url 'JQ:apps' %}"> JQ</a></li>
            <li><a class="nav-item nav-link" href="{% url 'tracker:bucketlist' %}">Bucketlist</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'user:about' %}">About</a></li>
            <li><a href="{% url 'user:contact' %}">Contact</a></li>
            <li class="divider"></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'user:logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'user:login'%}"> Login</a></li>
            {% endif %}
        </ul>
    </ul>
</div>
</div>
</nav>
{% endblock %}
{% block body %}
{% endblock %}

</html>
