{% extends 'base.html' %}

{% block body %}
<div class="container">
    <h2 style="text-align:center;">I am always looking for feedback, Send me a message!</h2>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="card text-center" style="width: 20rem;">
      <div class="card-block">
        <h3 class="card-title">Give Feedback</h3>
        <p class="card-text"> I need your help! <br> you won't hurt my feelings </p>
        <a href="#" class="btn btn-success"> Feedback Form</a> <br>
      </div>
  </div>
    </div>
    <div class="col-sm-4">
      <div class="card text-center" style="width: 20rem;">
        <div class="card-block">
          <h3 class="card-title">Report an Issue</h3>
          <p class="card-text"> Uh oh! <br> Take screen shots if you can </p>
          <a href="#" class="btn btn-success"> Issues Form</a> <br>
        </div>
      </div>
  </div>
      <div class="col-sm-4">
        <div class="card text-center" style="width: 20rem;">
          <div class="card-block">
            <h3 class="card-title">Development Ideas</h3>
            <p class="card-text"> Great minds think for themselves <br> placeholder </p>
            <a href="#" class="btn btn-success"> Development Request</a> <br>
          </div>
        </div>
    </div>
  </div>

{% endblock %}
