{% extends 'base.html' %}
{% block title %}
<title>HQ - Create Task</title>
{% endblock %}
{% block body %}
<script type="text/javascript" src="/static/bower_components/moment/min/moment.min.js"></script>
<script type="text/javascript" src="/static/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="/static/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />

<body>
    <header class="container">
        <h3> Create Task </h3>
    </header>
    <div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <form method = "post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="taskName">Task Name </label>
                    <input class="form-control" name="Task_Name" id="taskName" autofocus required>
                </div>
                <div class="form-group">
                    <label for="projectName">Project </label>
                    <select class="form-control" name="Project" id="projectName">
                        {%for item in form.Project%}
                        <option>{{item}}</option>
                        {% endfor%}
                    </select>
                </div>
                <div class="form-group">
                    <label for="categoryName">Category</label>
                    <input class="form-control" name="Category" id="categoryName">
                </div>
                {% if team %}
                <div class="form-group">
                    <label for="assignUser">Assign To</label>
                    <select class="form-control" name="user" id="assignUser">
                        {% for name in team %}
                        <option value="{{name.Member.id}}">{{name.Member}}</option>
                        {% endfor %}
                    </select>
                </div>
                {% endif %}
                <div class="form-group">
                    <label for="status">Status</label>
                    <select class="form-control" name="Status" id="statusName">
                        <option value="NS" >Not Started</option>
                        <option value="IP" >In Progress</option>
                        <option value="OH" >On Hold</option>
                        <option value="CO" >Completed</option>
                    </select>
                </div>
                <label>Goal Date</label>
                <div class='form-group' id='goalDate'>
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='text' class="form-control" name="Goal_Date" value="{{form.Goal_Date.value}}" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="notes">Notes</label>
                    <textarea class="form-control" name="Notes" id="Notes" rows="10"></textarea>
                </div>
                <div class="form-group">
                    <label for="shortList">Short List</label>
                    <input type="checkbox" class="form-control" name="Short_list" id="SLName" >
                </div>
                <input type="hidden" name="next" value="{{ request.META.HTTP_REFERER }}">
                <button type="submit" class="btn btn-default btn-block"> Create </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker({
            format: 'YYYY-MM-DD'
        });
    });
</script>
</body>
{% endblock %}
