{% extends 'base.html' %}

{% block body %}
<h1> Tasks </h1>
<p> Update {{ object.Task_Name }} in the Task List </p>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form method = "post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="next" value="{{ request.META.HTTP_REFERER }}">
    <button type="submit" class="btn btn-default"> Update </button>
</form>
<div class="fieldWrapper">
    {{ form.subject.errors }}
    {{ form.subject.label_tag }}
    {{ form.subject }}
</div>
{% endblock %}
