{% extends 'base.html' %}
{% block title %}
<title>HQ - Edit Task</title>
{% endblock %}

{% block body %}
<script type="text/javascript" src="/static/bower_components/moment/min/moment.min.js"></script>
<script type="text/javascript" src="/static/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="/static/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />

<body>
    <header class="container">
        <h3> Update Tasks </h3>
        <p> Task: {{form.Modified_Date}}
    </header>
    <div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <form method = "post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="taskName">Task Name </label>
                    <input class="form-control" name="task" id="taskName" value="{{form.Task_Name.value}}" autofocus>
                </div>
                <div class="form-group">
                    <label for="categoryName">Category</label>
                    <input class="form-control" name="category" id="categoryName" value="{{form.Category.value}}">
                </div>
                {% if team %}
                <div class="form-group">
                    <label for="assignUser">Assign To</label>
                    <select class="form-control" name="user" id="assignUser">
                        <option value="{{user.id}}" {% ifequal form.user.value name.Member.id %} selected {% endifequal %}>{{user.username}}</option>
                        {% for name in team %}
                        <option value="{{name.Member.id}}" {% ifequal form.user.value name.Member.id %} selected {% endifequal %}>{{name.Member}}</option>
                        {% endfor %}
                    </select>
                </div>
                {% endif %}
                <div class="form-group">
                    <label for="status">Status</label>
                    <select class="form-control" name="status" id="statusName">
                        <option value="NS" {%ifequal form.Status.value "NS" %} selected {% endifequal %}>Not Started</option>
                        <option value="IP" {%ifequal form.Status.value "IP" %} selected {% endifequal %}>In Progress</option>
                        <option value="OH" {%ifequal form.Status.value "OH" %} selected {% endifequal %}>On Hold</option>
                        <option value="CO" {%ifequal form.Status.value "CO" %} selected {% endifequal %}>Completed</option>
                    </select>
                </div>
                <label for="Goal_Date">Goal Date</label>
                <div class='form-group' id='goalDate'>
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='text' class="form-control" value="{{form.Goal_Date.value|date:"Y-m-d"}}" name="Goal_Date" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="notes">Notes</label>
                    <textarea class="form-control" name="notes" id="Notes" rows="10">{{form.Notes.value}}</textarea>
                </div>
                <div class="form-group">
                    <label for="shortList">Short List</label>
                    <input type="checkbox" class="form-control" name="shortList" id="SLName" {% ifequal form.Short_list.value True %} checked {%endifequal%} >
                </div>
                <input type="hidden" name="next" value="{{ request.META.HTTP_REFERER }}">
                <button type="submit" class="btn btn-default btn-block"> Update </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker({
            format: 'YYYY-MM-DD'
        });
    });
</script>
</body>
{% endblock %}
