{% extends 'base.html' %}
{% block title %}
<title>HQ - Projects</title>
{% endblock %}
{% block body %}
<body class="project-list">
    <div class="container" id="firstDiv">
        <ul><h2 class="top-title"> Projects<a id="newProject" href="{% url 'tracker:create_project' %}"> <img src="/static/css/images/plus.png" style="width:25px;height:25px;border:0;"> </a></h2>
        <div class="hidden-field" data-form-role="field">
            <form method="POST">
                {% csrf_token %}
                <input type="text" name="project_name" placeholder="Enter New Project Name" autofocus/>
                <button type="submit" class='btn-sm btn-success'>create</button>
            </form>
        </div>
        {% if query %}
        <div class="row">
          {% for item in query %}
             <a class="project-item" href="{% url 'tracker:project_list' item.id %}"> {{item.Project_name}}
                 <br> <p class="mini-text"> {{item.tasks.count}} tasks
                 <br> {{item.percent_overdue}}% Overdue
                 <br> {{item.percent_complete}}% Complete </p> </a>
             <a class="project-delete" id='deleteProject' href="{% url 'tracker:delete_project' item.id %}"> <span class="	glyphicon glyphicon-remove-circle"></span></a>
          {% endfor %}
        </div>
    </ul>
    </div>
    <div class="container">
        <ul><h2> Shared Projects </h2>
            {% if shared_projects %}
                {% for project in shared_projects %}
                  <a class="project-item" href="{% url 'tracker:project_list' project.ProjectId.id %}">{{ project.ProjectId }} <br>
                  {{ project.Owner.username}} </a>
                {% endfor %}
            {% endif %}
        </ul>
     </div>
     {% else %}
     <h3 align="center"> You don't have any projects started. <br>
         Get started by clicking the plus sign to the left.
     </h3>
     {% endif %}
     <script type="text/javascript" src="/static/js/project.js"></script>
</body>
{% endblock %}
