{% extends 'base.html' %}
{% block title %}
<title>HQ - Tasks</title>
{% endblock %}
{% block body %}
<script type="text/javascript" src="/static/bower_components/moment/min/moment.min.js"></script>
<script type="text/javascript" src="/static/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="/static/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
<body>
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                Are you sure you want to delete?
            </div>
            <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a href="" id="confirm_delete_button" class="btn btn-danger btn-ok">Delete</a>
            </div>
        </div>
    </div>
</div>
    <div class="row">
      <div class="col-sm-4">
        <div class="card card-outline-primary mb-3 text-center" style="width: 40rem;">
          <div class="card-block">
            <h1> Tasks <a href="/tracker/task/create/?from={{ request.path|urlencode }}"> <img src="/static/css/images/plus.png" style="width:30px;height:30px;border:0;"> </a></h1>
            <a href="{% url 'tracker:export_tasks_csv' %}">Export all tasks</a><br>
            <button class="btn-sm btn-primary" id="massUpdate">Mass Update</button>
          </div>
        </div>
      </div>
          <div class="col-sm-4">
            <div class="card card-outline-primary mb-3 text-center" style="width: 40rem;">
              <div class="card-block">
                <form type="get" action="/tracker/task/" class="logo-text">
                    <div class="box">
                      <div class="container-3">
                          <span class="fa fa-search"></span>
                          <input type="search" name="search" id="search" placeholder="{{SearchWord}}" autofocus>
                          <button id="search_submit" class="btn-sm btn-success" type="submit" >Search</button> <br>
                          <label> Search by tasks, category, or notes </label>
                      </div>
                    </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="rightAlign">
            {% if project %}
                <form method="POST">
                    {% csrf_token %}
                    <div class="#">
                        <input placeholder="Enter Quick Task" id="id_task_name" name="task_name" autofocus
                        autocomplete="fname" type="text" data-parsley-trigger="submit" required data-parsely-error-message="Please enter a task name.">
                        <button type="submit" class="btn btn-primary btn-sm">save</button>
                        <div class="controls">
                            <span class="error-block help-block">
                            </span>
                        </div>
                    </div>
                </form>
                {% if not team or user == team.0.Owner %}
                <div class="#">
                    <form method="POST">
                        {% csrf_token %}
                        <input list="users" placeholder="Add Member" name="member_name" id="id_member_name" data-parsley-trigger="submit">
                        <button type="submit" class="btn-sm btn-primary"> save</a></button>
                        <datalist id="users">
                            {% for name in users %}
                            <option value="{{name}}">
                            {% endfor %}
                        </datalist>
                    </form>
                </div>
                {% endif %}
                <div class="#">
                    <h4> Project Team </h4>
                    <p> <strong>Owner</strong>: {{ team.0.Owner }} </P>
                    {% for member in team %}
                        {{ member.Member }}
                        <a href="{% url 'tracker:delete_member' member.id %}"> <img src="/static/css/images/cancel.png" style="width:15px;height:15px;border:0;"> </a>
                        <br><br>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <section class="container">
            <div class="#" align="center">
                <div class="hidden-field" data-form-role="field">
                    <form method="POST">
                        {% csrf_token %}
                        <p> Click rows to update <button type="submit" class='btn-sm btn-default'>Update</button></p>
                        <div class="col-sm-6">
                            <input type="text"  style="width: 45%;" class="form-control" name="category" placeholder="Category" autofocus/>
                        </div>
                        <div class="col-sm-6">
                            <select class="form-control" style="width: 45%;" name="status" id="statusName">
                                <option value="">Status</option>
                                <option value="NS">Not Started</option>
                                <option value="IP">In Progress</option>
                                <option value="OH">On Hold</option>
                                <option value="CO">Completed</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <input type='text' style="width: 45%;" class="form-control" id='datetimepicker1' name="goalDate" placeholder="Goal Date" />
                        </div>
                        <div class="col-sm-6">
                            <label for="shortList">Short List </label>
                            <input type="checkbox" name="shortList"/>
                            <input type="hidden" name="next" value="{{ request.get_full_path }}">
                        </div>
                </div>
                <table class="table-hover" width="75%">
                    <tr>
                        <th> Task Name </th>
                        <th> Category </th>
                        <th> Goal Date </th>
                        <th> Status </th>
                    </tr>
                    {% if query %}
                    {% for item in query %}
                    <tr id="box" class="tableSet">
                        <td><a href="{% url 'tracker:update_task' item.id %}"> {{ item.Task_Name }} </td>
                        <td> {{ item.Category }} </td>
                        <td id="goalDate"> {{ item.Goal_Date }} </td>
                        <td id="status"> {{ item.get_Status_display }} </td>
                        <td> <a href="{% url 'tracker:delete_task' item.id %}" onclick="getId(this)" class="delete" data-toggle="modal" data-target="#confirm-delete"> <img src="/static/css/images/cancel.png" style="width:15px;height:15px;border:0;"> </a> </td>
                        <td class="hidden-field"><input type="checkbox" name="selectedTask" value="{{ item.id }}"/></td>
                    </tr>
                    {% endfor %}
                </table>
            </form>
            {% else %}
            <h3 align="center"> Looks like you don't have any tasks.  <br>
                 Add tasks using the plus sign in the top left. </h3>
            {% endif %}
        </div>
    </section>
    <script type="text/javascript" src="/static/js/tracker.js"></script>
    <script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker({
            format: 'YYYY-MM-DD'
        });
    });
</script>
</body>
{% endblock %}
